<a href="https://colab.research.google.com/github/EmanuelVoltolini/tps-pii-colab/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [17]:
lista_tuplas = []
for estudiante in estudiantes:
    es = tuple(estudiante.items())
    lista_tuplas.append(es)

for estudiante in lista_tuplas:
    print(estudiante)

(('name', 'Abud Laspiur, Lourdes Mariel'), ('section', 'C'), ('dob', '05/12/2006'))
(('name', 'Amador, Luana Micaela'), ('section', 'C'), ('dob', '09/12/2006'))
(('name', 'Anaquin, Leonardo Ezequiel'), ('section', 'C'), ('dob', '06/09/2005'))
(('name', 'Araoz Sanchez, Lautaro Nahuel'), ('section', 'C'), ('dob', '28/12/2005'))
(('name', 'Argañaraz, Agostina Abril'), ('section', 'C'), ('dob', '11/10/2006'))
(('name', 'Barrera, Matias Ezequiel'), ('section', 'C'), ('dob', '27/02/2007'))
(('name', 'Barrera, Matias Ezequiel'), ('section', 'C'), ('dob', '27/02/2007'))
(('name', 'Barrozo Vedia, Joaquin Nicolas'), ('section', 'C'), ('dob', '15/04/2006'))
(('name', 'Bettinelli, Valentino'), ('section', 'C'), ('dob', '12/07/2006'))
(('name', 'Bracamonte Martinez, Salvador'), ('section', 'C'), ('dob', '02/11/2005'))
(('name', 'Colque Rivero, Ariana Zoe Del Valle'), ('section', 'C'), ('dob', '27/12/2006'))
(('name', 'Diaz, Dulce Maitena'), ('section', 'C'), ('dob', '11/12/2006'))
(('name', 'Figueroa, Santino Josue'), ('section', 'C'), ('dob', '12/05/2007'))
(('name', 'Figueroa, Santino Josue'), ('section', 'C'), ('dob', '12/05/2007'))
(('name', 'Flores Cardozo, Agustina Tiara'), ('section', 'C'), ('dob', '18/03/2006'))
(('name', 'Gallo, Octavio Ismael'), ('section', 'C'), ('dob', '04/08/2006'))
(('name', 'Galvan, Lourdes Yamila'), ('section', 'C'), ('dob', '19/08/2005'))
(('name', 'Giangreco, Vitto Tomasso'), ('section', 'C'), ('dob', '21/03/2007'))
(('name', 'Grancara, Martina Luna'), ('section', 'C'), ('dob', '15/12/2006'))
(('name', 'Guanca, Sara Elizabeth'), ('section', 'C'), ('dob', '17/01/2007'))
(('name', 'Lopez, Victoria Constanza'), ('section', 'C'), ('dob', '12/11/2007'))
(('name', 'Mamani Garrido, Rosario Agostina'), ('section', 'C'), ('dob', '24/10/2006'))
(('name', 'Marinaro, Martin Ezequiel'), ('section', 'C'), ('dob', '03/11/2006'))
(('name', 'Merluzzi Dagum, Ignacio'), ('section', 'C'), ('dob', '22/12/2005'))
(('name', 'Messina, Martina'), ('section', 'C'), ('dob', '13/07/2005'))
(('name', 'Rasuk, Karim'), ('section', 'C'), ('dob', '13/07/2007'))
(('name', 'Rasuk, Karim'), ('section', 'C'), ('dob', '13/07/2007'))
(('name', 'Rios, Lucia Magali'), ('section', 'C'), ('dob', '22/09/2006'))
(('name', 'Sanchez Flores, Matías Agustín'), ('section', 'C'), ('dob', '15/02/2007'))
(('name', 'Scarano, Renato Marcelo'), ('section', 'C'), ('dob', '06/12/2006'))
(('name', 'Sierra, Lucas Mauricio'), ('section', 'C'), ('dob', '03/04/2005'))
(('name', 'Tapia, Martin Gabriel'), ('section', 'C'), ('dob', '30/05/2006'))
(('name', 'Vilte, Mia Antonella Alondra'), ('section', 'C'), ('dob', '10/09/2005'))
(('name', 'Virgillito, Katya Milena'), ('section', 'C'), ('dob', '19/06/2007'))
(('name', 'Alurralde, Solange Stefania'), ('section', 'D'), ('dob', '02/04/2007'))
(('name', 'Alvarado, Ludmila Del Milagro'), ('section', 'D'), ('dob', '06/09/2006'))
(('name', 'Angel, Camila Juliana'), ('section', 'D'), ('dob', '07/03/2007'))
(('name', 'Arenas, Lucas Gabriel'), ('section', 'D'), ('dob', '26/06/2007'))
(('name', 'Caseres, Maria Antonia'), ('section', 'D'), ('dob', '01/07/2006'))
(('name', 'Castillo, Paulina Milagros'), ('section', 'D'), ('dob', '01/06/2007'))
(('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006'))
(('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006'))
(('name', 'D Elia, Alvaro Tadeo'), ('section', 'D'), ('dob', '27/08/2006'))
(('name', 'Flores, Victoria Agustina'), ('section', 'D'), ('dob', '12/12/2006'))
(('name', 'Geronimo Soriano, Lizzie Amaya'), ('section', 'D'), ('dob', '20/01/2007'))
(('name', 'Guzman, Angélica Morena'), ('section', 'D'), ('dob', '11/04/2007'))
(('name', 'Guzman, Jazmin Esmeralda Belen'), ('section', 'D'), ('dob', '31/07/2006'))
(('name', 'Jaime, Anita Maria Belen'), ('section', 'D'), ('dob', '19/04/2007'))
(('name', 'Lacour Polo, Nazarena'), ('section', 'D'), ('dob', '19/12/2005'))
(('name', 'Lascano Guanca, Marcelo Fabricio'), ('section', 'D'), ('dob', '17/02/2006'))
(('name', 'Lezcano, Celia Morena'), ('section', 'D'), ('dob', '01/07/2005'))
(('name', 'Martinez, Tomas Andres'), ('section', 'D'), ('dob', '22/03/2007'))
(('name', 'Portella Valdivia, Pedro Francisco'), ('section', 'D'), ('dob', '24/01/2007'))
(('name', 'Retamal Cisneros, Zacarias Josue'), ('section', 'D'), ('dob', '24/02/2007'))
(('name', 'Rosales, Francisco Gabriel'), ('section', 'D'), ('dob', '14/11/2006'))
(('name', 'Salem Barba, Mahia'), ('section', 'D'), ('dob', '14/10/2005'))
(('name', 'Soto Camara, Agustin Ignacio'), ('section', 'D'), ('dob', '07/11/2005'))
(('name', 'Villalba, Irina'), ('section', 'D'), ('dob', '09/09/2006'))
(('name', 'Voltolini, Emanuel Tobias'), ('section', 'D'), ('dob', '17/09/2006'))
(('name', 'Zalazar, Santino Stefano'), ('section', 'D'), ('dob', '30/09/2006'))
(('name', 'Zalazar, Santino Stefano'), ('section', 'D'), ('dob', '30/09/2006'))

In [18]:
conjunto_estudiantes = set(lista_tuplas)

lista_sin_repetidos = []
for estudiante in conjunto_estudiantes:
    estudiantes_dict = dict(estudiante)
    lista_sin_repetidos.append(estudiantes_dict)

for estudiante in lista_sin_repetidos:
    print(estudiante)

{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [20]:
nombres_5c = set()
apellidos_5c = set()
nombres_5d = set()
apellidos_5d = set()
for estudiante in estudiantes:
    nombre_completo = estudiante["name"]
    apellidos, nombre = nombre_completo.split(",")
    apellidos = apellidos.split(" ")
    nombres = nombre.split()
    if estudiante["section"] == "C":
        for nombre in nombres:
            nombres_5c.add(nombre)
        for apellido in apellidos:
            apellidos_5c.add(apellido)
    else:
        for nombre in nombres:
            nombres_5d.add(nombre)
        for apellido in apellidos:
            apellidos_5d.add(apellido)

print(f"Nombres 5C: {nombres_5c}")
print(f"Apellidos 5C: {apellidos_5c}")
print(f"Nombres 5D: {nombres_5d}")
print(f"Apellidos 5D: {apellidos_5d}")

Nombres 5C: {'Victoria', 'Gabriel', 'Martina', 'Mia', 'Leonardo', 'Del', 'Mauricio', 'Nahuel', 'Valentino', 'Agostina', 'Sara', 'Mariel', 'Salvador', 'Luana', 'Tiara', 'Luna', 'Lourdes', 'Matias', 'Micaela', 'Lucia', 'Vitto', 'Rosario', 'Joaquin', 'Renato', 'Ezequiel', 'Katya', 'Josue', 'Martin', 'Agustín', 'Maitena', 'Abril', 'Santino', 'Yamila', 'Ignacio', 'Magali', 'Octavio', 'Dulce', 'Elizabeth', 'Tomasso', 'Nicolas', 'Agustina', 'Marcelo', 'Matías', 'Lucas', 'Milena', 'Lautaro', 'Ismael', 'Ariana', 'Constanza', 'Alondra', 'Karim', 'Valle', 'Antonella', 'Zoe'}
Apellidos 5C: {'Marinaro', 'Abud', 'Bettinelli', 'Sierra', 'Bracamonte', 'Virgillito', 'Lopez', 'Tapia', 'Araoz', 'Amador', 'Barrera', 'Dagum', 'Cardozo', 'Barrozo', 'Merluzzi', 'Guanca', 'Messina', 'Sanchez', 'Diaz', 'Rios', 'Flores', 'Martinez', 'Argañaraz', 'Colque', 'Galvan', 'Vedia', 'Mamani', 'Rivero', 'Rasuk', 'Laspiur', 'Grancara', 'Gallo', 'Anaquin', 'Figueroa', 'Vilte', 'Garrido', 'Scarano', 'Giangreco'}
Nombres 5D: {'Gabriel', 'Victoria', 'Del', 'Maria', 'Emanuel', 'Tobias', 'Celia', 'Alvaro', 'Jazmin', 'Mariano', 'Tomas', 'Pedro', 'Fabricio', 'Stefania', 'Agustin', 'Lizzie', 'Hugo', 'Milagro', 'Josue', 'Anita', 'Santino', 'Mahia', 'Irina', 'Angélica', 'Morena', 'Ignacio', 'Andres', 'Nazarena', 'Stefano', 'Antonia', 'Zacarias', 'Tadeo', 'Ludmila', 'Francisco', 'Agustina', 'Esmeralda', 'Lucas', 'Marcelo', 'Juliana', 'Amaya', 'Solange', 'Belen', 'Paulina', 'Camila', 'Milagros'}
Apellidos 5D: {'Soriano', 'Soto', 'Caseres', 'Valdivia', 'Lascano', 'Lezcano', 'Barba', 'Angel', 'Zalazar', 'Alvarado', 'Guanca', 'Villalba', 'Polo', 'Salem', 'Voltolini', 'Lacour', 'Jaime', 'Cisneros', 'Rosales', 'Correa', 'Flores', 'Alurralde', 'D', 'Martinez', 'Guzman', 'Segovia', 'Castillo', 'Camara', 'Arenas', 'Geronimo', 'Portella', 'Retamal', 'Elia'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [23]:
curso_5c = len(nombres_5c)
print(f"Cantidad de nombres únicos en 5C: {curso_5c}")

curso_5d = len(nombres_5d)
print(f"Cantidad de nombres únicos en 5D: {curso_5d}")

Cantidad de nombres únicos en 5C: 54
Cantidad de nombres únicos en 5D: 45

4. Muestra cuantos apellidos únicos hay en cada curso.

In [ ]:
curso_5c = len(apellidos_5c)
print(f"Cantidad de apellidos únicos en 5C: {curso_5c}")

curso_5d = len(apellidos_5d)
print(f"Cantidad de apellidos únicos en 5D: {curso_5d}")

Cantidad de apellidos únicos en 5C: 69
Cantidad de apellidos únicos en 5D: 0

5. Mostrá los nombres que se aparecen em ambos cursos

In [ ]:
nombres_en_ambos_cursos = nombres_5c.intersection(nombres_5d)
print(f"Los nombres que aparecen en ambos cursos son: {nombres_en_ambos_cursos}")

Los nombres que aparecen en ambos cursos son: {'Gabriel', 'Lucas', 'Josue', 'Victoria', 'Ignacio', 'Agustina', 'Santino', 'Del', 'Marcelo'}

6. Mostrá los apellidos que se aparecen en ambos cursos

In [ ]:
apellidos_en_ambos_cursos = apellidos_5c.intersection(apellidos_5d)
print(f"Los apellidos que aparecen en ambos cursos son: {apellidos_en_ambos_cursos}")

Los apellidos que aparecen en ambos cursos son: set()

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:
nombres_solo_5c = nombres_5c.difference(nombres_5d)
print(f"Nombres de estudiantes de 5C que no existen en 5D: {nombres_solo_5c}")

nombres_solo_5d = nombres_5d.difference(nombres_5c)
print(f"Nombres de estudiantes de 5D que no existen en 5C: {nombres_solo_5d}")

Nombres de estudiantes de 5C que no existen en 5D: {'Martina', 'Renato', 'Valle', 'Elizabeth', 'Alondra', 'Vitto', 'Sara', 'Tomasso', 'Nahuel', 'Salvador', 'Ismael', 'Zoe', 'Mariel', 'Mia', 'Rosario', 'Luana', 'Abril', 'Joaquin', 'Octavio', 'Antonella', 'Valentino', 'Micaela', 'Lourdes', 'Ezequiel', 'Agostina', 'Leonardo', 'Lautaro', 'Martin', 'Yamila', 'Lucia', 'Ariana', 'Constanza', 'Tiara', 'Magali', 'Agustín', 'Mauricio', 'Luna', 'Milena', 'Maitena', 'Matías', 'Nicolas', 'Dulce', 'Katya', 'Matias', 'Karim'}
Nombres de estudiantes de 5D que no existen en 5C: {'Emanuel', 'Maria', 'Francisco', 'Alvaro', 'Antonia', 'Celia', 'Milagros', 'Tomas', 'Mahia', 'Stefano', 'Nazarena', 'Tobias', 'Agustin', 'Zacarias', 'Amaya', 'Andres', 'Juliana', 'Anita', 'Paulina', 'Jazmin', 'Hugo', 'Irina', 'Tadeo', 'Mariano', 'Belen', 'Stefania', 'Milagro', 'Camila', 'Solange', 'Morena', 'Angélica', 'Pedro', 'Ludmila', 'Fabricio', 'Lizzie', 'Esmeralda'}

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:
# 08
apellidos_solo_5c = apellidos_5c.difference(apellidos_5d)
print(f"Apellidos de estudiantes de 5C que no existen en 5D: {apellidos_solo_5c}")

apellidos_solo_5d = apellidos_5d.difference(apellidos_5c)
print(f"Apellidos de estudiantes de 5D que no existen en 5C: {apellidos_solo_5d}")

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [ ]:
nombres_en_ambos = nombres_5c.intersection(nombres_5d)
todos_los_nombres = nombres_5c.union(nombres_5d)
nombres_no_en_ambos = todos_los_nombres.difference(nombres_en_ambos)
print(f"Todos los nombres, menos los que existen en ambos cursos: {nombres_no_en_ambos}")

Todos los nombres, menos los que existen en ambos cursos: {'Emanuel', 'Maria', 'Renato', 'Francisco', 'Alvaro', 'Valle', 'Vitto', 'Tomasso', 'Nahuel', 'Salvador', 'Stefano', 'Zoe', 'Nazarena', 'Mariel', 'Mia', 'Agustin', 'Luana', 'Andres', 'Joaquin', 'Antonella', 'Jazmin', 'Hugo', 'Micaela', 'Belen', 'Stefania', 'Leonardo', 'Martin', 'Lucia', 'Camila', 'Solange', 'Angélica', 'Luna', 'Milena', 'Fabricio', 'Maitena', 'Matías', 'Lizzie', 'Lautaro', 'Esmeralda', 'Karim', 'Martina', 'Antonia', 'Elizabeth', 'Alondra', 'Celia', 'Sara', 'Milagros', 'Tomas', 'Mahia', 'Ismael', 'Tobias', 'Rosario', 'Zacarias', 'Amaya', 'Juliana', 'Abril', 'Octavio', 'Lucho', 'Anita', 'Paulina', 'Valentino', 'Irina', 'Tadeo', 'Mariano', 'Lourdes', 'Ezequiel', 'Agostina', 'Yamila', 'Milagro', 'Morena', 'Ariana', 'Pedro', 'Constanza', 'Tiara', 'Magali', 'Agustín', 'Mauricio', 'Ludmila', 'Dulce', 'Nicolas', 'Katya', 'Matias'}

10. elimina tu nombre del conjunto al que pertenece

In [ ]:
mi_nombre = 'Voltolini, Emanuel Tobias'
if mi_nombre in nombres_5c:
	nombres_5c.remove(mi_nombre)
print(f"Nombres de estudiantes de 5C: {nombres_5c}")

Nombres de estudiantes de 5C: {'Martina', 'Renato', 'Valle', 'Elizabeth', 'Alondra', 'Vitto', 'Sara', 'Ignacio', 'Tomasso', 'Santino', 'Nahuel', 'Salvador', 'Ismael', 'Zoe', 'Mariel', 'Maitena', 'Lucas', 'Mia', 'Rosario', 'Luana', 'Marcelo', 'Abril', 'Joaquin', 'Octavio', 'Antonella', 'Valentino', 'Josue', 'Micaela', 'Agustina', 'Lourdes', 'Ezequiel', 'Agostina', 'Del', 'Leonardo', 'Martin', 'Yamila', 'Lucia', 'Katya', 'Gabriel', 'Ariana', 'Constanza', 'Tiara', 'Victoria', 'Magali', 'Agustín', 'Mauricio', 'Luna', 'Milena', 'Dulce', 'Matías', 'Nicolas', 'Lautaro', 'Matias', 'Karim'}

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [ ]:
n_usuario = input("Ingrese su nombre: ")
a_usuario = input("Ingrese su apellido: ")
nombres_5c.add(n_usuario)
apellidos_5c.add(a_usuario)
print(f"Nombres de estudiantes de 5C: {nombres_5c}")
print(f"Apellidos de estudiantes de 5C: {apellidos_5c}")

Ingrese su nombre: Lucho
Ingrese su apellido: Via
Nombres de estudiantes de 5C: {'Martina', 'Renato', 'Valle', 'Elizabeth', 'Alondra', 'Vitto', 'Sara', 'Ignacio', 'Tomasso', 'Santino', 'Nahuel', 'Salvador', 'Ismael', 'Zoe', 'Mariel', 'Maitena', 'Lucas', 'Mia', 'Rosario', 'Luana', 'Marcelo', 'Abril', 'Joaquin', 'Octavio', 'Antonella', 'Lucho', 'Valentino', 'Josue', 'Micaela', 'Agustina', 'Lourdes', 'Ezequiel', 'Agostina', 'Del', 'Leonardo', 'Martin', 'Yamila', 'Lucia', 'Katya', 'Gabriel', 'Ariana', 'Constanza', 'Tiara', 'Victoria', 'Magali', 'Agustín', 'Mauricio', 'Luna', 'Milena', 'Dulce', 'Matías', 'Nicolas', 'Lautaro', 'Matias', 'Karim'}
Apellidos de estudiantes de 5C: {'Elia', 'Guzman', 'Caseres', 'Retamal', 'Dagum', 'Alurralde', 'Garrido', 'Portella', 'Villalba', 'Lascano', 'Barba', 'Argañaraz', 'Bracamonte', 'Arenas', 'Mamani', 'Martinez', 'Diaz', 'Tapia', 'Abud', 'Via', 'Sierra', 'Merluzzi', 'Laspiur', 'Guanca', 'Figueroa', 'Lopez', 'Rasuk', 'Virgillito', 'Valdivia', 'Anaquin', 'Sanchez', 'Correa', 'Galvan', 'Voltolini', 'Colque', 'Camara', 'Rosales', 'Rivero', 'Castillo', 'Jaime', 'Barrera', 'Flores', 'Cisneros', 'Cardozo', 'Alvarado', 'Soto', 'Araoz', 'Grancara', 'Salem', 'D', 'Marinaro', 'Barrozo', 'Gallo', 'Angel', 'Zalazar', 'Bettinelli', 'Lezcano', 'Messina', 'Scarano', 'Rios', 'Soriano', 'Giangreco', 'Vilte', 'Segovia', 'Amador', 'Geronimo', 'Vedia', 'Lacour', 'Polo'}

12. Solicita un nombre y verifica si este existe en el diccionario

In [ ]:
nombre = input("Ingrese un nombre: ")
if nombre in nombres_5c:
	print(f"El nombre {nombre} existe en el conjunto de nombres de 5C.")
else:
  print(f"El nombre {nombre} no existe en el conjunto de nombres de 5C.")

Ingrese un nombre: Lucho
El nombre Lucho existe en el conjunto de nombres de 5C.